<% content_for(:title) do -%>
  Films
<% end -%>

<% content_for :breadcrumbs do -%>
  <li class="active">Films</li>
<% end -%>

<% content_for(:page_header) do -%>
  Films
<% end -%>

<div class="row">
  <% @films.each do |film| %>
    <div class="col-sm-6">
      <p><%= link_to film.name, film %></p>
    </div>
  <% end %>
</div>
