<header class="row">
  <ul class="breadcrumbs">
    <li><a href="/">Movies UK</a></li>
    <li><a href="/films">Films</a></li>
    <li class="current"><%= link_to @film.name, @film %></li>
  </ul>

  <div class="columns">
    <h1><%= @film.name %></h1>
  </div>
</header>

<div class="row">
  <div class="columns">
    <p>
    </p>
  </div>
</div>
