<% content_for(:title) do -%>
  Cinemas
<% end -%>

<% content_for :breadcrumbs do -%>
  <li class="active">Cinemas</li>
<% end -%>

<% content_for(:page_header) do -%>
  Cinemas
<% end -%>

<div class="row">
  <% @cinemas.each do |cinema| %>
    <div class="col-sm-6">
      <p><%= link_to cinema.name, cinema_path(cinema) %></p>
    </div>
  <% end %>
</div>
